.roboto-regular {
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  *{
    font-family: "Roboto";
  }

.container{
    display: grid;
    grid-template-columns: 1fr 6fr;

}

.sidebar{
    grid-column: 1;
    grid-row: 1 / span 2;
    background-color: blue;

    display: grid;
    gap: 30px;
}

.icon-main{
    width: 50px;
    height: 50px;
}

.sidebar-title{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-content: center;
    font-size: 20pt;
}

.header{
    grid-column: 2;
    background-color: lightgrey;

}

.main-content{
    grid-column: 2;
    background-color: darkgrey;
}

.nav-item{
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
}